# Node modules
node_modules/
package-lock.json

# Database
*.db
*.db-wal
*.db-shm

# Environment variables
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Build
dist/
build/
